<h1>List of Articles</h1>

<ul>
    <% @articles.each do |article| %>
        <li>
            <%= link_to article.title, article %>
        </li>
    <% end %>
</ul>


<%# comment out %>
<% if false %>
    <li>
        <a href="/articles/<%= article.id %>">
            <%= article.title %>
        </a>
    </li>
    <li>
        <a href="<%= article_path() %>">
            <%= article.title %>
        </a>
    </li>
<% end %>