<h1>Title:<%= @article.title %></h1>
<p>Body:<%= @article.body %></p>
<p>Status:<%= @article.status %></p>


<%= link_to "Edit", edit_article_path(@article) %> <br>
<%= link_to "Delete", article_path(@article), method: :delete,
data: { confirm: "Are you sure?" } %> <br>
<%= link_to "Back", root_path %>


<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>

<%= render 'comments/form' %>